
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-left: 10px;
    background: linear-gradient(63deg, rgba(234,173,255,0.5) 0%, rgba(163,253,255,0.5) 53%, rgba(194,255,178,0.5) 100%);    align-content: center;

  }

  h1 {
    display : flex;
    font-family: 'Lobster Two', cursive;
    font-size: 4em;
    padding-left: 6vw;
    }

  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0 4x;
  }
  
  .column img {
    width: 25%;
    margin: 8px;
    vertical-align: middle;
  }